{% extends 'form_div_layout.html.twig' %}

{% block form_row -%}
    <div class="input-field center col s1 {% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_widget(form) -}}
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row %}