{% extends 'base.html.twig' %}

{% block title %}Edit Status{% endblock %}

{% block body %}
    <h1>Edit Status</h1>

    {% if status.defaultSelection == true %}
    <p>You are updating the Default Status</p>
    {% endif %}

    {{ include('status/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('brand_preferences') }}"><button style="margin-bottom: 5px" class="btn">Back to brand preferences</button></a>

    {% if status.defaultSelection == false %}
    {{ include('status/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}