<div id="modal-breakdown" class="modal">
    <div class="modal-content">
        <p>Distribution preferences</p>
        {{ include('breakdown_enquiry/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
</div>