<div id="modal-company" class="modal modal-fixed-footer">
    {{ form_start(newCompanyForm, {'action': path('company_enquiry_new')}) }}
    <div class="modal-content">
        <p>Add a new company</p>
        {{ form_row(newCompanyForm.label) }}
        {{ form_row(newCompanyForm.address) }}
    </div>
    <div class="modal-footer">
        {{ form_row(newCompanyForm.save) }}
    </div>
    {{ form_end(newCompanyForm) }}
</div>
{% if enquiry.company is not null %}
<div id="modal-modify" class="modal modal-fixed-footer">
    {{ form_start(modifyCompanyForm, {'action': path('company_enquiry_edit', {'id': enquiry.company.id})}) }}
    <div class="modal-content">
        <p>Modify the company</p>
        {{ form_row(modifyCompanyForm.label) }}
        {{ form_row(modifyCompanyForm.address) }}
        {{ form_row(modifyCompanyForm.user) }}
        {{ form_row(modifyCompanyForm.additional_info) }}
    </div>
    <div class="modal-footer">
        {{ form_row(modifyCompanyForm.save) }}
    </div>
    {{ form_end(modifyCompanyForm) }}
</div>
{% else %}
{% endif %}