<div id="modal-occupancy" class="modal">
    <p>Monthly availability for Enquiry from {{ enquiry.checkInDate|date('d/m/Y') }} until {{ enquiry.checkOutDate|date('d/m/Y') }}</p>
    <div class="modal-content" style="padding: 0">
        <table class="centered table" id="table-occupancy" style="border-collapse: inherit">
            <thead class="head-col">
            <tr>
                <th class="left-col"></th>
                {% if occupancy.rooms is not empty %}
                    {% set firstRoom = occupancy.rooms|first %}
                    {% for date in firstRoom.occupancyDates %}
                        {% if date.date|date('l') == 'Saturday' or date.date|date('l') == 'Sunday'  %}
                            {% if enquiry.checkInDate <= date.date and enquiry.checkOutDate > date.date %}
                                <th id="enquiry-date">
                                    {{ date.date|date('D') }}
                                </th>
                            {% else %}
                                <th id="weekend-date">
                                    {{ date.date|date('D') }}
                                </th>
                            {% endif %}
                        {% else %}
                            {% if enquiry.checkInDate <= date.date and enquiry.checkOutDate > date.date %}
                                <th id="enquiry-date">
                                    {{ date.date|date('D') }}
                                </th>
                            {% else %}
                                <th id="standard-date">
                                    {{ date.date|date('D') }}
                                </th>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </tr>
            <tr>
                <th class="left-col"></th>
                {% if occupancy.rooms is not empty %}
                    {% set firstRoom = occupancy.rooms|first %}
                    {% for date in firstRoom.occupancyDates %}
                        {% if date.date|date('l') == 'Saturday' or date.date|date('l') == 'Sunday'  %}
                            {% if enquiry.checkInDate <= date.date and enquiry.checkOutDate > date.date %}
                                <th id="enquiry-date">
                                    {{ date.date|date('d/m') }}
                                </th>
                            {% else %}
                                <th id="weekend-date">
                                    {{ date.date|date('d/m') }}
                                </th>
                            {% endif %}
                        {% else %}
                            {% if enquiry.checkInDate <= date.date and enquiry.checkOutDate > date.date %}
                                <th id="enquiry-date">
                                    {{ date.date|date('d/m') }}
                                </th>
                            {% else %}
                                <th id="standard-date">
                                    {{ date.date|date('d/m') }}
                                </th>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </tr>
            <tr>
                <th class="left-col">Occupancy</th>
                {% if occupancy.overallOccupancy is not empty %}
                    {% for date in occupancy.overallOccupancy %}
                        {% if date.date|date('l') == 'Saturday' or date.date|date('l') == 'Sunday'  %}
                            {% if enquiry.checkInDate <= date.date and enquiry.checkOutDate > date.date %}
                                <th id="enquiry-date">
                                    {{ date.occupancyTotal|number_format(0) }}%
                                </th>
                            {% else %}
                                <th id="weekend-date">
                                    {{ date.occupancyTotal|number_format(0) }}%
                                </th>
                            {% endif %}
                        {% else %}
                            {% if enquiry.checkInDate <= date.date and enquiry.checkOutDate > date.date %}
                                <th id="enquiry-date">
                                    {{ date.occupancyTotal|number_format(0) }}%
                                </th>
                            {% else %}
                                <th id="standard-date">
                                    {{ date.occupancyTotal|number_format(0) }}%
                                </th>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for room in occupancy.rooms %}
                <tr>
                    <td class="left-col">{{ room.roomType.label }}</td>
                    {% for date in room.occupancyDates %}
                        {% if date.date|date('l') == 'Saturday' or date.date|date('l') == 'Sunday'  %}
                            {% if enquiry.checkInDate <= date.date and enquiry.checkOutDate > date.date %}
                                <td id="enquiry-date">
                                    {{ date.availability }}
                                </td>
                            {% else %}
                                <td id="weekend-date">
                                    {{ date.availability }}
                                </td>
                            {% endif %}
                        {% else %}
                            {% if enquiry.checkInDate <= date.date and enquiry.checkOutDate > date.date %}
                                <td id="enquiry-date">
                                    {{ date.availability }}
                                </td>
                            {% else %}
                                <td>
                                    {{ date.availability }}
                                </td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>