<div id="modal-profile" class="modal">
    <div class="modal-content">
        {{ form_row(enquiryForm.group_name) }}
        {{ form_row(enquiryForm.contact_first_name) }}
        {{ form_row(enquiryForm.contact_last_name) }}
        {{ form_row(enquiryForm.email_address) }}
        {{ form_row(enquiryForm.phone_number) }}
        {{ form_row(enquiryForm.country) }}
    </div>
</div>