{% extends 'base.html.twig' %}

{% block title %}Enquiry{% endblock %}

{% block stylesheets %}
    <style>
        #offer_rooms .row{
            margin-bottom: 0;
        }
        #offer_rooms .input-field{
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="col s3">
        {% include 'enquiry/summary.html.twig' %}
    </div>
    <div class="col s9">
        {% include 'enquiry/tab/base.tab.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        initChangeDate($('.row.room input[type=date]'));

        $('.history_edit_button').click(function(){
            let action = $(this).attr('data-action');
            let text = $(this).parents('tr').find('.history-text').text();
            $("form[name='history']").attr('action', action);
            $("form[name='history'] #history_comment").val(text.trim());
        });

        $('ul.room-list').find('li').each(function () {
            addTagFormDeleteLink($(this), 'room');
        });

        $('ul.extra-list').find('li').each(function () {
            addTagFormDeleteLink($(this), 'extra');
        });

        $('body').on('click', '#add_item_room, #add_item_extra', function (e) {
            var class_list = $(this).data('class-list');
            var form_type = $(this).data('form-type');
            addFormToCollection(class_list, form_type);
        });

        $('#validate-btn').click(function(){
            if (!moreThan10Nights($('#enquiry_check_in_date').val(), $('#enquiry_check_out_date').val())){
                return false
            }
            if (!checkinBeforeCheckout($('#enquiry_check_in_date').val(), $('#enquiry_check_out_date').val())){
                return false
            }
            if (!dateInThePast($('#enquiry_check_in_date').val())){
                return false
            }
        });

        $('#option-btn').click(function(){
            if (!errorDateInThePast($('#option_date_date').val())){
                return false
            }
        });

        $('#update_room_btn').click(function(){
            for (let i=0; i<100 ;i++) {
                if (!checkinBeforeCheckout($('#offer_rooms_' + i + '_checkInDate').val(), $('#offer_rooms_' + i + '_checkOutDate').val())) {
                    return false
                }
            }
        });

        $('#update_extra_btn').click(function(){
            for (let i=0; i<100 ;i++) {
                if (!dateFromBeforeDateUntil($('#offer_offerExtras_' + i + '_startDate').val(), $('#offer_offerExtras_' + i + '_endDate').val())) {
                    return false
                }
            }
        });

        function addFormToCollection(class_list, form_type) {
            var elt_ul = $('.' + class_list);
            var prototype = elt_ul.data('prototype');
            var index = indexFinder(form_type);
            var newForm = prototype;
            newForm = newForm.replace(/__name__/g, index);
            var newFormLi = $('<li></li>').append(newForm);
            if (form_type === 'room') {
                addTagExpand(newFormLi, form_type);
            }
            addTagFormDeleteLink(newFormLi, form_type);
            elt_ul.append(newFormLi)
            $(newFormLi).find('select').formSelect();
            $(newFormLi).attr('data-index', index);
            if (form_type === 'extra') {
                $(newFormLi).find('.start-date-field').val($('#enquiry_check_in').html());
                $(newFormLi).find('.end-date-field').val($('#enquiry_check_out').html());
            }
            if (form_type === 'room') {
                $(newFormLi).find('.check-in-date-field').val($('#enquiry_check_in').html());
                $(newFormLi).find('.check-out-date-field').val($('#enquiry_check_out').html());
                $(newFormLi).find('.input-field').last().remove();
                initChangeDate($(newFormLi).find('.check-in-date-field'));
                initChangeDate($(newFormLi).find('.check-out-date-field'));
                addRatesOnChange($(newFormLi).find('.check-out-date-field'));
                $('.average-field').blur(function(){
                    let average_field_parent = $(this).parents('li');
                    average_field_parent.find('.price-field').val($(this).val());
                });
            }
        }

        function addTagFormDeleteLink($tagFormLi, form_type) {
            var $removeFormButton = $('<button class="btn" style="margin-left: 20px"><i class="remove_offer material-icons">delete</i></button>');
            $tagFormLi.find('.row.'+form_type).append($removeFormButton);
            $removeFormButton.on('click', function (e) {
                $tagFormLi.remove();
            });
        }

        function addTagExpand($tagFormLi, form_type) {
            var $expandButton = $('<i class="material-icons collapsible-header expand-offer" style="padding: 10px; margin-top: 8px">expand_more</i>');
            $tagFormLi.find('.row.'+form_type).append($expandButton);
        }

        function createInput(row_li, li_index, index, rate_date) {
            var html = "";
            html += '<div class="row rate collapsible-body">'
            html += '    <div class="input-field col s1"><input type="date" id="offer_rooms_'+li_index+'_rates_'+index+'_date" name="offer[rooms]['+li_index+'][rates]['+index+'][date]" required="required" readonly="readonly" value="'+rate_date+'"><label for="offer_rooms_'+li_index+'_rates_'+index+'_date" class="required active">Date</label></div>'
            html += '    <div class="input-field col s1"><input type="text" id="offer_rooms_'+li_index+'_rates_'+index+'_price" name="offer[rooms]['+li_index+'][rates]['+index+'][price]" class="price-field" value="" autocomplete="off"><label for="offer_rooms_'+li_index+'_rates_'+index+'_price" class="active">Price</label></div>'
            html += '</div>'

            row_li.append(html);
        }

        function initChangeDate(elt) {
            elt.change(function(){
                addRatesOnChange($(this));
            });
        }

        function addRatesOnChange(elt) {
            let row_parent = elt.parents('.row.room');
            let date_check_in = row_parent.find('.check-in-date-field').val();
            let date_check_out = row_parent.find('.check-out-date-field').val();
            let date1 = new Date(date_check_in); var date2 = new Date(date_check_out);
            let difference = date2.getTime()-date1.getTime();
            let days = Math.ceil(difference / (1000 * 3600 * 24));
            let row_li = elt.parents('li');
            let oldValues = getOldValues(row_li);
            row_li.find('.row.rate').remove();
            let li_index = row_li.attr('data-index');
            for (let i=0; i<days;i++){
                let date_i = new Date(date_check_in);
                row_parent.find('.average-field').val("");
                date_i.setDate(date_i.getDate() + i);
                var rate_date = date_i.getFullYear()+'-'+("0" + (date_i.getMonth() + 1)).slice(-2)+'-'+("0" + date_i.getDate()).slice(-2)
                createInput(row_li, li_index, i, rate_date);

            }
            applyOldValues(row_li, oldValues);
            $('.price-field').change(function(){
                let average_field_parent = $(this).parents('li');
                refreshAverage(average_field_parent);
            });
        }

        function indexFinder(form_type) {
            var row_number = $('.'+form_type+'-list .row.'+form_type).length;
            for (let i = 0; i<=row_number;i++) {
                if ($('li[data-index='+i+']').length == 0) {
                    return i;
                }
            }
            return row_number;
        }

        function getOldValues(row_li) {
            let prices = [];
            row_li.find('.row.rate').each(function(key, elt){
                let value = $(elt).find('.price-field').val();
                if (typeof value == 'undefined') {
                    value = "";
                }
                prices.push(value)
            });

            return prices;
        }

        function applyOldValues(row_li, oldValues) {
            row_li.find('.row.rate').each(function(key, elt){
                if (typeof oldValues[key] != 'undefined') {
                    $(elt).find('.price-field').val(oldValues[key]);
                }
            });
        }

        $('.average-field').change(function(){
            let average_field_parent = $(this).parents('li');
            average_field_parent.find('.price-field').val($(this).val());
        });
        $('.price-field').change(function(){
            let average_field_parent = $(this).parents('li');
            refreshAverage(average_field_parent);
        });
        $('.average-field').each(function(){
            let average_field_parent = $(this).parents('li');
            refreshAverage(average_field_parent);
        });
        function refreshAverage(elt_parent) {
            let number = 0;
            elt_parent.find('.price-field').each(function(){
                number = number + parseInt($(this).val());
            });
            let finalNumber = number / elt_parent.find('.price-field').length;
            if (isNaN(finalNumber)) {
                elt_parent.find('.average-field').val("");
            } else {
                elt_parent.find('.average-field').val(finalNumber.toFixed(2));
            }
        }
    </script>
{% endblock %}
