{% extends 'base.html.twig' %}

{% block title %}Simulator{% endblock %}

{% block body %}
    <h1>Quoting simulation</h1>

    {{ form_start(form) }}
    <div class="row">
        <div class="col s2">
            {{ form_row(form.property) }}
        </div>
        <div class="col s2">
            {{ form_row(form.check_in_date) }}
        </div>
        <div class="col s2">
            {{ form_row(form.check_out_date) }}
        </div>
        <div class="col s2">
            {{ form_row(form.number_of_persons) }}
        </div>
    </div>
    <button class="btn" id="simulate-btn">{{ button_label|default('Generate automatic offer') }}</button>
    {{ form_widget(form._token) }}
    {{ form_end(form, {render_rest: false}) }}
    {% if offer is not null %}
        {{ include('enquiry/tab/offer_recap.html.twig') }}
    {% endif %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#simulate-btn').click(function (){
            if (!moreThan10Nights($('#enquiry_check_in_date').val(), $('#enquiry_check_out_date').val())){
                return false
            }
            if (!checkinBeforeCheckout($('#enquiry_check_in_date').val(), $('#enquiry_check_out_date').val())){
                return false
            }
            if (!dateInThePast($('#enquiry_check_in_date').val())){
                return false
            }
        })
    </script>
{% endblock %}