<h4>Reservation summary</h4>

<table class="table">
    <tbody>
    <tr>
        <th>Reservation number</th>
        <td>{{ enquiry.reservationNumber }}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>{{ enquiry.status.label }}</td>
    </tr>
    <tr>
        <th>Company / Agency name</th>
        <td>{% if enquiry.company is not null %}{{ enquiry.company.label }}{% endif %}</td>
    </tr>
    <tr>
        <th>Group name</th>
        <td>{{ enquiry.groupName }}</td>
    </tr>
    <tr>
        <th>Check in date</th>
        <td id="enquiry_check_in">{{ enquiry.checkInDate ? enquiry.checkInDate|date('Y-m-d') : '' }}</td>
    </tr>
    <tr>
        <th>Check out date</th>
        <td id="enquiry_check_out">{{ enquiry.checkOutDate ? enquiry.checkOutDate|date('Y-m-d') : '' }}</td>
    </tr>
    <tr>
        <th>Enquiry date</th>
        <td>{{ enquiry.enquiryDate ? enquiry.enquiryDate|date('Y-m-d') : '' }}</td>
    </tr>
    <tr>
        <th>Number of persons</th>
        <td>{{ enquiry.numberOfPersons }}</td>
    </tr>
    <tr>
        <th>Property</th>
        <td>
            {% if  enquiry.property is null %}
            {{ app.request.session.get('property_label') }}
            {% else %}
            {{ enquiry.property.label }}
            {% endif %}
        </td>
    </tr>
    {% if enquiry.id is not null %}
    <tr>
        <th>Created By</th>
        <td>{% if enquiry.createdBy is not null %}{{ enquiry.createdBy.firstName }} {{ enquiry.createdBy.lastName }}
            {% else %}System
            {% endif %}</td>
    </tr>
    <tr>
        <th>Wishes</th>
        <td><a class="btn modal-trigger" id="info-button" href="#modal-wishes">Show</a></td>
        {% include 'enquiry/_wishes_modal.html.twig' %}
    </tr>
        {% if is_granted('ROLE_REVENUE_MANAGER') %}
        <tr>
            <th>Active/Inactive</th>
            <td>
                {% if enquiry.active == 1 %}<span>Active</span><br/>
                    <a href="{{ path('enquiry_switch', {id: enquiry.id}) }}"><i class="material-icons">sync_disabled</i></a>
                {% else %}<span>Inactive</span><br/>
                    <a href="{{ path('enquiry_switch', {id: enquiry.id}) }}"><i class="material-icons">sync</i></a>
                {% endif %}
            </td>
        </tr>
        {% endif %}
    {% endif %}
    </tbody>
</table>