{% extends 'base.html.twig' %}

{% block title %}New Filter{% endblock %}

{% block body %}
    <h3>Create new Filter</h3>

    {{ include('filter/_form.html.twig') }}
    <a href="{{ path('revenue_configuration') }}"><button class="btn">Back to revenue configuration</button></a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#filter-btn').click(function(){
            if (!AgeMaxBiggerAgeMin($('#filter_ageMin option:selected').attr('data-min'), $('#filter_ageMax option:selected').attr('data-min'))){
                return false
            }
            if (!dateFromBeforeDateUntil($('#filter_dateMin').val(), $('#filter_dateMax').val())){
                return false
            }
            if (!maxLengthBiggerMinLength($('#filter_night_min').val(), $('#filter_night_max').val())){
                return false
            }
            if (!maxPaxBiggerMinPax($('#filter_pax_min').val(), $('#filter_pax_max').val())){
                return false
            }
            if (!maxOccBiggerMinOcc($('#filter_occupancyMin').val(), $('#filter_occupancyMax').val())){
                return false
            }
            if (!dateInThePast($('#filter_dateMin').val())){
                return false
            }
        })

    </script>
{% endblock %}