<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
</head>
<body>
<div class="body">
    <div class="container">
        <div class="content">
            <h1 class="text-center">Hello {{ user.firstname }} {{ user.lastname }}!</h1>
            <p>Please click on the link below to set your password:</p>
            <p class="block text-center">
                <a href="{{ url('user_password_form', {token: user.token}) }}" class="btn">New password</a>
            </p>
            <p class="block">
                Thanks and enjoy the ride!
            </p>
        </div>
    </div>
</div>
</body>
</html>