{% extends 'base.html.twig' %}

{% block title %}Edit Age range{% endblock %}

{% block body %}
    <h1>Edit Age range</h1>

    {{ include('age/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('brand_preferences') }}"><button style="margin-bottom: 5px" class="btn">Back to brand preferences</button></a>

    {{ include('age/_delete_form.html.twig') }}
{% endblock %}