{% block body %}
    <br />
    {{ form_start(form) }}
    <div class="col s12">
    <div class="col s1">
        {{ form_row(form.property) }}
    </div>
    <div class="col s1">
        {{ form_row(form.created_from) }}
    </div>
    <div class="col s1">
        {{ form_row(form.created_until) }}
    </div>
    <div class="col s1">
        {{ form_row(form.from) }}
    </div>
    <div class="col s1">
        {{ form_row(form.until) }}
    </div>
    <div class="center col s2">
        {{ form_row(form.generate_report) }}<span style="font-size: 90%">Recommended for searching info</span>
    </div>
    <div class="center col s2">
        {{ form_row(form.export_excel) }}<span style="font-size: 90%">Recommended for data analysis</span>
    </div>
    {{ form_widget(form._token) }}
    {{ form_end(form) }}
    </div>
    {% if app.request.method == 'POST' %}
    <div class="col s12">
    <table class="table">
        <thead>
        <tr>
            <th>Property</th>
            <th>Enquiry date</th>
            <th>Agency / Company</th>
            <th>Group name</th>
            <th>Ref number</th>
            <th>Status</th>
            <th>Check in date</th>
            <th>Check out date</th>
            <th>Nights</th>
            <th>Persons</th>
            <th>Age Range</th>
            <th>Nationality</th>
            <th>Total Amount</th>
            <th>Comments</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for enquiry in report_enquiries %}
            <tr>
                <td>{{ enquiry.property }}</td>
                <td>{{ enquiry.enquiryDate }}</td>
                <td>{{ enquiry.companyLabel }}</td>
                <td>{{ enquiry.groupName }}</td>
                <td>{{ enquiry.refNumber }}</td>
                <td>{{ enquiry.status }}</td>
                <td>{{ enquiry.checkInDate }}</td>
                <td>{{ enquiry.checkOutDate }}</td>
                <td>{{ enquiry.nights }}</td>
                <td>{{ enquiry.persons }}</td>
                <td>{{ enquiry.ageRange }}</td>
                <td>{{ enquiry.nationality }}</td>
                <td>{{ enquiry.totalAmount|number_format(2) }}</td>
                <td>{{ enquiry.Comments }}</td>
                <td>
                    <a href="{{ path('enquiry_show', {'id': enquiry.id}) }}"><button class="btn">show</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">No results found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {% endif %}
{% endblock %}

