{% block body %}
    <br />
    {{ form_start(salesByCompanyForm) }}
    <div class="col s12">
        <div class="col s1">
            {{ form_row(salesByCompanyForm.account_manager) }}
        </div>
        <div class="col s1">
            {{ form_row(salesByCompanyForm.property) }}
        </div>
        <div class="col s1">
            {{ form_row(salesByCompanyForm.created_from) }}
        </div>
        <div class="col s1">
            {{ form_row(salesByCompanyForm.created_until) }}
        </div>
        <div class="col s1">
            {{ form_row(salesByCompanyForm.from) }}
        </div>
        <div class="col s1">
            {{ form_row(salesByCompanyForm.until) }}
        </div>
        <div class="center col s2">
            {{ form_row(salesByCompanyForm.generate_report) }}<span style="font-size: 90%">Recommended for searching info</span>
        </div>
        <div class="center col s2">
            {{ form_row(salesByCompanyForm.export_excel) }}<span style="font-size: 90%">Recommended for data analysis</span>
        </div>
        {{ form_widget(salesByCompanyForm._token) }}
        {{ form_end(salesByCompanyForm) }}
    </div>
    {% if app.request.method == 'POST' %}
        <div class="col s12">
            <table class="table">
                <thead>
                <tr>
                    <th>Property</th>
                    <th>Account Manager</th>
                    <th>Agency / Company</th>
                    <th>Number of Enquiries</th>
                    <th>Total Revenue</th>
                </tr>
                </thead>
                <tbody>
                {% for company in salesByCompanyReport %}
                    <tr>
                        <td>{{ company.property }}</td>
                        <td>{{ company.user }}</td>
                        <td>{{ company.companyLabel }}</td>
                        <td>{{ company.enquiryNumber }}</td>
                        <td>{{ company.totalAmount|number_format(2) }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="12">No results found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}



