{% block body %}
    <div class="row">
        <div class="col s6">
            <ul class="collection with-header">
                <li class="collection-header"><h5>Confirmed Enquiries</h5></li>
                <li class="collection-item">
                    <p>Percentage of confirmed Enquiries created in the last Month by Property</p>
                    <canvas id="confLastMonth" aria-label="confLastMonth" role="img">></canvas>
                <li class="collection-item">
                    <p>Percentage of confirmed Enquiries created in the last Year by Property</p>
                    <canvas id="confLastYear" aria-label="confLastYear" role="img">></canvas>
                </li>
            </ul>
        </div>
        <div class="col s6">
            <ul class="collection with-header">
                <li class="collection-header"><h5>Cancelled Enquiries</h5></li>
                <li class="collection-item">
                    <p>Percentage of cancelled Enquiries created in the last Month by Property</p>
                    <canvas id="cancelledLastMonth" aria-label="cancelledLastMonth" role="img">></canvas>
                <li class="collection-item">
                    <p>Percentage of cancelled Enquiries created in the last Year by Property</p>
                    <canvas id="cancelledLastYear" aria-label="cancelledLastYear" role="img">></canvas>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}