<h4>Presentation and features for your property</h4>
<a href="{{ path('presentation_new') }}"><button class="btn">New</button></a>
<table class="table centered striped">
    <thead>
    <tr>
        <th>Label</th>
        <th>Language</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for presentation in presentations %}
        <tr>
            <td>{{ presentation.label }}</td>
            <td>
                {% if presentation.language.label is defined %}
                    {{ presentation.language.label }}
                {% endif %}
            </td>
            <td>
                <a href="{{ path('presentation_edit', {'id': presentation.id}) }}"><button class="btn">edit</button></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="12">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
