<div class="col s6"><h4>Proposal</h4>
{% if mail_proposal_default is not empty %}
    <p><i class="medium material-icons">warning</i><br/>
        Be careful, you did not choose a default proposal mail template for the languages below:<br/>
        {% for mail_proposal_default in mail_proposal_default %}<b>{{ mail_proposal_default.label }}<br/></b>{% endfor %}
    </p>
{% endif %}
    <a href="{{ path('mail_template_new_proposal') }}"><button class="btn">New</button></a>
    <table class="table centered striped">
        <thead>
        <tr>
            <th>Default</th>
            <th>Label</th>
            <th>Language</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for mail_template in mail_templates|filter(mail_template => mail_template.type.label == 'Proposal') %}
            <tr>
                <td>{% if mail_template.defaultSelection == 1 %}Default{% endif %}</td>
                <td>{{ mail_template.label }}</td>
                <td>
                    {% if mail_template.language.label is defined %}
                        {{ mail_template.language.label }}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('mail_template_edit_proposal', {'id': mail_template.id}) }}"><button class="btn">edit</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="col s6"><h4>Pending to quote</h4>
    {% if mail_pending_default is not empty %}
        <p><i class="medium material-icons">warning</i><br/>
            Be careful, you did not choose a default template for the mail pending to quote for the languages below:<br/>
            {% for mail_pending_default in mail_pending_default %}<b>{{ mail_pending_default.label }}<br/></b>{% endfor %}
        </p>
    {% endif %}
    <a href="{{ path('mail_template_new_pending') }}"><button class="btn">New</button></a>
    <table class="table centered striped">
        <thead>
        <tr>
            <th>Default</th>
            <th>Label</th>
            <th>Language</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for mail_template in mail_templates|filter(mail_template => mail_template.type.label == 'Pending to quote') %}
            <tr>
                <td>{% if mail_template.defaultSelection == 1 %}Default{% endif %}</td>
                <td>{{ mail_template.label }}</td>
                <td>
                    {% if mail_template.language.label is defined %}
                        {{ mail_template.language.label }}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('mail_template_edit_pending', {'id': mail_template.id}) }}"><button class="btn">edit</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>