<h4>Proposal Template to send the offer</h4>
{% if proposal_default is not empty %}
    <p><i class="medium material-icons">warning</i><br/>
        Be careful, you did not choose a Default Proposal Template for the languages below:<br/>
        {% for proposal_default in proposal_default %}<b>{{ proposal_default.label }}<br/></b>{% endfor %}
    </p>
{% endif %}
<a href="{{ path('template_proposal_new') }}"><button class="btn">New</button></a>
<table class="table centered striped">
    <thead>
    <tr>
        <th>Default</th>
        <th>Label</th>
        <th>Language</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for proposal_template in proposal_templates %}
        <tr>
            <td>{% if proposal_template.defaultSelection == 1 %}Default{% endif %}</td>
            <td>{{ proposal_template.label }}</td>
            <td>
                {% if proposal_template.language.label is defined %}
                    {{ proposal_template.language.label }}
                {% endif %}
            </td>
            <td>
                <a href="{{ path('template_proposal_edit', {'id': proposal_template.id}) }}"><button class="btn">edit</button></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="12">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
