#home-button{
    margin-left: 3%;
}

#search-content{
    position: relative;
    margin-left: 2%;
}

#search-content .collection{
    display: none;
    position: absolute;
    z-index: 4;
    width: 125%;
    border: 2px solid #ababab;
    background: white;
    margin-top: 0px;
    border-top: 0px;
}

#search-content .input-field label{
    top: -12px;
}

#search-content .input-field input{
    color: #fff
}

#search-content .input-field .prefix{
    top: 0.1rem;
}

#search-content .input-field > label:not(.label-icon).active {
    -webkit-transform: translateY(-3px) scale(0.8);
    transform: translateY(-3px) scale(0.8);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0
}

#sidenavtext{
    font-size: 17px;
    margin-left: 15px;
    line-height: 45px;
}

#nav-bar-new{
    padding-left: 15px;
}

#nav-user-profile{
    margin-left: 3%;
}

nav .nav-wrapper{
    background: #222;
}

form[name="offer"] .col.s1 {
    width: 14%;
    margin-left: 0;
}

#dashboard-block{
    width:95%;
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
}

#rows_offer{
    padding: 1%;
}

#modal-wishes{
    max-width: 30%;
}

#modal-send-pms{
    width: 25%;
    height: 420px;
}

#modal-send-pms .modal-footer{
    height: 200px;
}

#modal-profile{
    max-width: 30%;
}

#modal-breakdown{
    max-width: 30%;
}

#modal-occupancy{
    text-align: center;
}

#info-button{
    color: black;
    background-color: #e0f2f1;
}

#dropdown-brand{
    top: -64px;
}

#dropdown-property{
    top: -64px;
}

#dropdown-user{
    top: -64px;
}

#table-occupancy thead{
    top: 0;
    position: sticky;
    z-index: 20;
    height: 30px;
}

#table-occupancy tr{
    height: 25px;
}

#table-occupancy table th td{
    border: 1px grey;
}

#table-occupancy .left-col {
    position: sticky;
    background-color: #fafafa;
    left: 0;
}

#table-occupancy .head-col {
    z-index: 50;
}

#enquiry-date {
    background-color: #b2dfdb;
}

#weekend-date {
    background-color: #e0e0e0;
}

#standard-date {
    background-color: #fafafa;
}

