{% for message in app.flashes('warning') %}
    <div class="card-panel teal lighten-2">
        {{ message }}
    </div>
{% endfor %}
{% for flash in app.flashes('success') %}
    <div class="card-panel teal lighten-2">{{ flash }}</div>
{% endfor %}
{% for flash in app.flashes('error') %}
    <div class="card-panel red lighten-2">{{ flash }}</div>
{% endfor %}