<nav>
    <div class="nav-wrapper">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a href="#" data-target="slide-out" class="sidenav-trigger" style="display: block"><i
                        class="material-icons">menu</i></a>
            {% if app.request.session.get('brand') %}
                {% include 'include/navbar/brand.html.twig' %}
            {% endif %}
            {% if not is_granted('ROLE_SUPER_ADMIN') or app.request.session.get('brand') is not null %}
                {% include 'include/navbar/property.html.twig' %}
            {% endif %}
            {% include 'include/navbar/home.html.twig' %}
            {% include 'include/navbar/user.html.twig' %}
            {% include 'include/navbar/search.html.twig' %}
            {% include 'include/navbar/new_enquiry.html.twig' %}
        {% endif %}
    </div>
</nav>