<form method="post" action="{{ path('app_follow_up_preference_delete', {'id': follow_up_preference.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ follow_up_preference.id) }}">
    <button class="btn"><i class="material-icons">delete</i></button>
</form>
