{% extends 'base.html.twig' %}

{% block title %}Edit FollowUpPreference{% endblock %}

{% block body %}
    <h1>Edit Follow Up Preference</h1>

    {{ include('follow_up_preference/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('preferences') }}"><button style="margin-bottom: 5px" class="btn">back to preferences</button></a>

    {{ include('follow_up_preference/_delete_form.html.twig') }}
{% endblock %}
