{% extends 'base.html.twig' %}

{% block title %}New FollowUpPreference{% endblock %}

{% block body %}
    <h1>Plan a new follow up</h1>

    {{ include('follow_up_preference/_form.html.twig') }}

    <a href="{{ path('preferences') }}"><button class="btn">back to preferences</button></a>
{% endblock %}
