{% extends 'base.html.twig' %}

{% block title %}Edit Proposal Template{% endblock %}

{% block body %}
    <h3>Edit your Proposal Template</h3>
    <div class="row">
        <div class="col s6">

    {{ include('template_proposal/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
        <div class="col s6">
            {{ include('template_proposal/tags.html.twig') }}

            <ul class="collapsible">
                <li>
                    <div class="collapsible-header" onclick="htmlView()"><p>Proposal view without HTML code</p></div>
                    <div class="collapsible-body">
                        <span onclick="htmlView()"><button class="btn">Refresh</button></span>
                        <hr>
                        <p id="demo"></p>
                        <script>
                            document.getElementById("demo").innerHTML = ($('#template_proposal_content').val());
                        </script>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col s12">

        <a href="{{ path('preferences') }}"><button style="margin-bottom: 5px" class="btn">Back to preferences</button></a>

        {{ include('template_proposal/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script>
    function htmlView() {
        document.getElementById("demo").innerHTML = ($('#template_proposal_content').val());
    }
</script>
{% endblock %}