<ul class="collapsible">
    <li>
        <div class="collapsible-header">
            <p>Tags to be used in the proposal</p>
        </div>
        <div class="collapsible-body">
            <table>
                <thead>
                <tr>
                    <th>Tag</th>
                    <th>Content</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{property_label}</td>
                    <td>Property Name</td>
                </tr>
                <tr>
                    <td>{brand_label}</td>
                    <td>Brand Name</td>
                </tr>
                <tr>
                    <td>{presentation_content}</td>
                    <td>Presentation template</td>
                </tr>
                <tr>
                    <td>{presentation_feature}</td>
                    <td>Feature template</td>
                </tr>
                <tr>
                    <td>{condition_content}</td>
                    <td>Terms and conditions</td>
                </tr>
                <tr>
                    <td>{table_room}</td>
                    <td>Room offer table</td>
                </tr>
                <tr>
                    <td>{table_extra}</td>
                    <td>Extra offer table</td>
                </tr>
                <tr>
                    <td>{total_proposal}</td>
                    <td>Total of the proposal</td>
                </tr>
                </tbody>
            </table>
        </div>
    </li>
</ul>