{% extends 'base.html.twig' %}

{% block title %}Edit Template Proposal Mail{% endblock %}

{% block body %}
    <h3>Edit your template for the mail to send proposal</h3>
    <div class="row">
        <div class="col s6">
            {{ include('mail_template/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
        <div class="col s6">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header" onclick="htmlView()"><p>View mail body without HTML code</p></div>
                    <div class="collapsible-body">
                        <span onclick="htmlView()"><button class="btn">Refresh</button></span>
                        <hr>
                        <div id="demo1"></div>
                        <script>document.getElementById("demo1").innerHTML = ($('#template_mail_body').val());</script>
                        <div>Proposal Link</div>
                        <div id="demo2"></div>
                        <script>document.getElementById("demo2").innerHTML = ($('#template_mail_bodySecond').val());</script>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col s12">
            <a href="{{ path('preferences') }}"><button style="margin-bottom: 5px" class="btn">Back to preferences</button></a>
            {{ include('mail_template/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function htmlView() {
            document.getElementById("demo1").innerHTML = ($('#template_mail_body').val());
            document.getElementById("demo2").innerHTML = ($('#template_mail_bodySecond').val());
        }
    </script>
{% endblock %}