{% extends 'base.html.twig' %}

{% block title %}New Template for mail pending to quote{% endblock %}

{% block body %}
    <h3>Create new template for mail pending to quote</h3>
    <div class="row">
        <div class="col s6">
            {{ include('mail_template/_form.html.twig') }}
        </div>
        <div class="col s6">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header" onclick="htmlView()"><p>View mail body without HTML code</p></div>
                    <div class="collapsible-body">
                        <span onclick="htmlView()"><button class="btn">Refresh</button></span>
                        <hr>
                        <div id="demo1"></div>
                        <script>document.getElementById("demo1").innerHTML = ($('#template_mail_body').val());</script>
                        <div>
                            <p class="block text-center">
                                Reservation details:
                            <ul>
                                <li>Reservation number: #####</li>
                                <li>Group Name: #####</li>
                                <li>Check in date: #####</li>
                                <li>Check out date: #####</li>
                                <li>Number of participants: #####</li>
                                <li>Property: #####</li>
                            </ul>
                            </p>
                        </div>
                        <div id="demo2"></div>
                        <script>document.getElementById("demo2").innerHTML = ($('#template_mail_bodySecond').val());</script>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col s12">
            <a href="{{ path('preferences') }}"><button class="btn">Back to preferences</button></a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function htmlView() {
            document.getElementById("demo1").innerHTML = ($('#template_mail_body').val());
            document.getElementById("demo2").innerHTML = ($('#template_mail_bodySecond').val());
        }
    </script>
{% endblock %}