<div>{{ body1 }}</div>
<p class="block text-center">
Reservation details:
    <ul>
        <li>Reservation number: {{ enquiry.reservationNumber }}</li>
        <li>Group Name: {{ enquiry.groupName }}</li>
        <li>Check in date: {{ enquiry.checkInDate|date('d/m/Y') }}</li>
        <li>Check out date: {{ enquiry.checkOutDate|date('d/m/Y') }}</li>
        <li>Number of participants: {{ enquiry.numberOfPersons }}</li>
        <li>Property: {{ enquiry.property.label }}</li>
    </ul>
</p>
<div>{{ body2 }}</div>