<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s2"><a {% if (app.request.session.get('active-tab-enquiry') is not defined) or (app.request.session.get('active-tab-enquiry') == 'enquiry_info') %}class="active"{% endif %} href="#enquiry_informations">Information</a></li>
            {% if enquiry.id is not null %}
                <li class="tab col s2"><a {% if app.request.session.get('active-tab-enquiry') == 'offer_rooms' %}class="active"{% endif %} href="#offer_rooms">Rooms</a></li>
                <li class="tab col s2"><a {% if app.request.session.get('active-tab-enquiry') == 'offer_extra' %}class="active"{% endif %} href="#offer_extra">Extra</a></li>
                <li class="tab col s2"><a {% if app.request.session.get('active-tab-enquiry') == 'enquiry_follow_up' %}class="active"{% endif %} href="#enquiry_follow_up">Follow up</a></li>
                <li class="tab col s2"><a {% if app.request.session.get('active-tab-enquiry') == 'offer_recap' %}class="active"{% endif %} href="#offer_recap">Offer recap</a></li>
                <li class="tab col s2"><a {% if app.request.session.get('active-tab-enquiry') == 'enquiry_history' %}class="active"{% endif %} href="#enquiry_history">Modification history</a></li>
            {% endif %}
        </ul>
    </div>
    <div id="enquiry_informations" class="col s12">
        {% include 'enquiry/tab/information.html.twig' %}
    </div>
    {% if enquiry.id is not null %}
        {% include 'enquiry/tab/offer_forms.html.twig' %}
        <div id="enquiry_follow_up" class="col s12">
            {% include 'enquiry/tab/enquiry_follow_up.html.twig' %}
        </div>
        <div id="offer_recap" class="col s12">
            {% include 'enquiry/tab/offer_recap.html.twig' %}
        </div>
        <div id="enquiry_history" class="col s12">
            {% include 'enquiry/tab/enquiry_history.html.twig' %}
        </div>
    {% endif %}
</div>