<table>

    <h4>Next follow up</h4>
        <table>
            <tr>
                <th>Date</th>
                <th>Made by</th>
                <th>Chase Number</th>
                <th>Comment</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            {% for follow_up in enquiry.followUps %}
            <tr>
                <td>{{ follow_up.provideDate|date('d/m/Y') }}</td>

                <td>{% if follow_up.user is not null%}
                    {{ follow_up.user.firstname }} {{ follow_up.user.lastname }}{% endif %}</td>
                <td>{{ follow_up.number }}</td>
                <td>{{ follow_up.comment }}</td>
                    {% if follow_up.executedDate is empty%}
                <td>
                    <a href="{{ path('follow_up_validate', {'id' : follow_up.id }) }}" onclick="return confirm('Enquiry chased for sure?');"><button class="btn">Done</button></a>
                    <a href="{{ path('follow_up_edit', {'id' : follow_up.id }) }}"><button class="btn">Edit</button></a>
                </td>
                <td>
                    {{ include('follow_up/_delete_form.html.twig') }}
                </td>
                    {% else %}
                <td colspan="2">
                    <p>Follow-up made on the {{ follow_up.executedDate|date('d/m/Y') }} at {{ follow_up.executedDate|date('H:i') }}.</p>
                </td>
                    {% endif %}
                </td>
                <td>
            </tr>
            {% else %}
            <span>No follow up</span>
            {% endfor %}
        </table>

    <a href="{{ path('follow_up_new', {'id' : enquiry.id }) }}"><button class="btn">New</button></a>

</table>