<table>
    <tr>
        <th>User</th>
        <th>Update Time</th>
        <th>Field Edited</th>
        <th>Old Value</th>
        <th>New Value</th>
    </tr>
    {% for history in histories|sort((a, b) => b.date <=> a.date) %}
        <tr>
            <td>{{ history.user.firstname }} {{ history.user.lastname }}</td>
            <td>{{ history.date|date('d-m-Y H:i:s') }}</td>
            <td>{{ history.fieldEdit }}</td>
            <td>{{ history.oldValue|raw }}</td>
            <td>{{ history.newValue|raw }}</td>
        </tr>
    {% endfor %}
</table>