<div class="row">
    {{ include('enquiry/_form.html.twig') }}
    <div class="row">
        <div class="col s6">
            {% if enquiry.company is null %}{% else %}
                <a class="modal-trigger" href="#modal-modify" style="color: black"><i class="material-icons">edit</i></a>
            {% endif %}
            <a class="modal-trigger" href="#modal-company" style="color: black"><i class="material-icons">add_box</i></a>
            {% include 'enquiry/_company_form.html.twig' %}
        </div>
        <div class="col s6" style="text-align: right; margin-top: 20px; padding:0">
            {% if enquiry.offer is not null %}
                <a href="{{ path('proposal', {'key': enquiry.proposalKey}) }}" target="_blank"><button class="btn">Proposal Link</button></a>
            {% endif %}
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        {% if enquiry.id is not null %}
        <div class="col s9">
            <div class="row">
                {{ form_start(generateForm, {'action': path('enquiry_generate', {'id': enquiry.id})}) }}
                <button class="btn">{{ button_label|default('Generate automatic offer') }}</button>
                <div style="margin-top: 15px">
                    {{ form_label(generateForm.breakdown) }}
                    <label>
                        {{ form_widget(generateForm.breakdown) }}
                        <span>With distribution preferences</span>
                    </label>
                </div>
                {{ form_end(generateForm) }}
            </div>
        </div>
        {% endif %}
        {% if enquiry.offer is not null %}
        <div class="col s3" style="text-align: right; padding:0">
            <a class="btn modal-trigger" href="#modal-send-pms">Send booking to PMS</a>
            {% include 'enquiry/_send_to_pms_modal.html.twig' %}
        </div>
        {% endif %}
    </div>

</div>
