{% if rooms is not empty %}
<table style="text-align: center; padding: 5px">
    <tr>
        <th style="padding: 5px">Room number</th>
        <th>Room name</th>
        <th>Persons</th>
        <th>Check in</th>
        <th>Check out</th>
        <th>Nights</th>
        <th style="padding: 5px">Rate per night</th>
        <th style="padding: 5px">Bed rate</th>
        <th style="padding: 5px">Total rate</th>
    </tr>
    {% set nights = 0 %}
    {% set total_persons = 0 %}
    {% set total_price = 0 %}
    {% for room in rooms  %}
        <tr>
            <td>{{ room.roomQuantity }}</td>
            <td style="padding: 5px">{{ room.roomType.label }}</td>
            <td>
                {{ room.personsInTheRoom }}
                {% set total_persons = total_persons + room.personsInTheRoom %}
            </td>
            <td style="padding: 5px">{{ room.checkInDate|date('d/m/Y') }}</td>
            <td style="padding: 5px">{{ room.checkOutDate|date('d/m/Y') }}</td>
            <td>
                {% set difference = date(room.checkOutDate).diff(date(room.checkInDate)) %}
                {% set nights = difference.days %}
                {{ nights }}
            </td>
            <td>{{ property.currency.symbol }}{{ room.averageRate }}</td>
            <td>
                {% set bed_rate = 0 %}
                {% set bed_rate = room.averageRate / room.personsInTheRoom * room.roomQuantity %}
                {{ property.currency.symbol }}{{ bed_rate|number_format(2) }}
            </td>
            <td>
                {% set room_price = 0 %}
                {% set room_price = room.averageRate * room.roomQuantity * nights %}
                {{ property.currency.symbol }}{{ room_price }}
                {% set total_price = total_price + room_price %}
            </td>
        </tr>
    {% endfor %}
    <tr>
        <th style="padding: 5px"><strong>Total</strong></th>
        <th></th>
        <th><strong>{{ total_persons }}</strong></th>
        <th></th><th></th><th></th><th></th><th></th>
        <th><strong>{{ property.currency.symbol }}{{ total_price }}</strong></th>
    </tr>
</table>
{% else %}{% endif %}
