{% set total_offer = 0 %}
{% set nights = 0 %}
{% set total_persons = 0 %}
{% set total_price = 0 %}
{% for room in rooms  %}
    {% set difference = date(room.checkOutDate).diff(date(room.checkInDate)) %}
    {% set nights = difference.days %}
    {% set room_price = 0 %}
    {% set room_price = room.averageRate * room.roomQuantity * nights %}
    {% set total_price = total_price + room_price %}
{% endfor %}
{% set total_extra = 0 %}
{% set extra_amount = 0 %}
{% set days = 0 %}
{% for extra in extras %}
    {% set difference = date(extra.startDate).diff(date(extra.endDate)) %}
    {% set days = difference.days + 1 %}
    {% set extra_amount = extra.price * extra.quantity * days %}
    {% set total_extra = total_extra + extra_amount %}
{% endfor %}
{% set total_offer = total_extra + total_price %}
<span style="padding: 5px"><strong>Total of the proposal: {{ property.currency.symbol }}{{ total_offer }}</strong></span>