{% extends 'base.html.twig' %}

{% block title %}New Conditions{% endblock %}

{% block body %}
    <h3>Create new Terms and Conditions</h3>
    <div class="row">
        <div class="col s6">
            {{ include('conditions/_form.html.twig') }}
        </div>
        <div class="col s6">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header" onclick="htmlView()"><p>View content without HTML code</p></div>
                    <div class="collapsible-body">
                        <span onclick="htmlView()"><button class="btn">Refresh</button></span>
                        <hr>
                        <p id="demo"></p>
                        <script>
                            document.getElementById("demo").innerHTML = ($('#template_condition_content').val());
                        </script>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col s12">
            <a href="{{ path('preferences') }}"><button class="btn">Back to preferences</button></a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function htmlView() {
            document.getElementById("demo").innerHTML = ($('#template_condition_content').val());
        }
    </script>
{% endblock %}