{% extends 'base.html.twig' %}

{% block title %}Edit Presentation{% endblock %}

{% block body %}
    <h3>Edit your Presentation and Features for your property</h3>
    <div class="col s6">
    {{ include('hotel_presentation/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    <div class="col s6">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header" onclick="htmlViewPresentation()"><p>View presentation content without HTML code</p></div>
                <div class="collapsible-body">
                    <span onclick="htmlViewPresentation()"><button class="btn">Refresh</button></span>
                    <hr>
                    <p id="presentation"></p>
                    <script>
                        document.getElementById("presentation").innerHTML = ($('#template_presentation_content').val());
                    </script>
                </div>
            </li>
        </ul>
        <ul class="collapsible">
            <li>
                <div class="collapsible-header" onclick="htmlViewFeatures()"><p>View features content without HTML code</p></div>
                <div class="collapsible-body">
                    <span onclick="htmlViewFeatures()"><button class="btn">Refresh</button></span>
                    <hr>
                    <p id="features"></p>
                    <script>
                        document.getElementById("features").innerHTML = ($('#template_presentation_features').val());
                    </script>
                </div>
            </li>
        </ul>
    </div>
    <div class="col s12">
        <a href="{{ path('preferences') }}"><button style="margin-bottom: 5px" class="btn">Back to preferences</button></a>

        {{ include('hotel_presentation/_delete_form.html.twig') }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function htmlViewPresentation() {
            document.getElementById("presentation").innerHTML = ($('#template_presentation_content').val());
        }
        function htmlViewFeatures() {
            document.getElementById("features").innerHTML = ($('#template_presentation_features').val());
        }
    </script>
{% endblock %}