{% extends 'base.html.twig' %}

{% block title %}Privacy Policy{% endblock %}

{% block body %}
<div>
    <div class="col s12">
        <img style="margin-top: 20px; max-width: 10%; height: auto; float: right" src="{{ asset('images/logo_willow.jpg') }}" alt="Logo Willow"><br/>
        <a style="float: right" href="{{ path('app_login') }}">Back to login page</a>
        <h4>Willow privacy policy</h4>
        <p>Date: 31st October 2022</p>
    </div>
    <div class="col s6">
        <p>
            To be done.
        </p>
    </div>
</div>
{% endblock %}
