<ul>
    {% for breakdown in enquiryForm.breakdownEnquiries %}
        <li>
        <div class="row">
                <div class="col s8">{{ form_row(breakdown.breakdownPref) }}</div>
                <div class="col s4">{{ form_row(breakdown.persons) }}</div>
        </div>
        </li>
    {% endfor %}
</ul>
<button class="btn">{{ button_label|default('Save') }}</button>
