<div class="left">
    <a class="dropdown-trigger blo" href="#" data-target="dropdown-brand" style="display: block">
        <i class="material-icons left">store</i>
        {{ app.request.session.get('brand').label }}
        <i class="material-icons right">arrow_drop_down</i>
    </a>
</div>
<ul id="dropdown-brand" class="dropdown-content">
    <li><a href="{{ path('godboard_brand_reset') }}">Disconnect</a></li>
    {% for brand in brand_list.list %}
        <li><a href="{{ path('godboard_brand_switch', {'id': brand.id}) }}">{{ brand.label }}</a></li>
    {% endfor %}
    <li class="divider"></li>
</ul>