<div class="right">
{#    <a class="dropdown-trigger blo" href="#" data-target="dropdown-enquiry" style="display: block">#}
        <i class="material-icons left">add_circle_outline</i>
        <span><a href="{{ path('enquiry_new') }}">Create new Enquiry</a></span>
</div>
{#<ul id="dropdown-enquiry" class="dropdown-content">#}
{#    <li id="nav-bar-new"><p>Where?</p></li>#}
{#    <li class="divider"></li>#}
{#    {% if is_granted('ROLE_ADMIN_BRAND') and app.user.brand is not null %}#}
{#        {% for property in app.user.brand.properties %}#}
{#            <li><a href="{{ path('property_switch', {'id': property.id}) }}">{{ property.label }}</a></li>#}
{#        {% endfor %}#}
{#    {% elseif app.request.session.get('brand') is not null %}#}
{#        {% for property in property_list.list(app.request.session.get('brand')) %}#}
{#            <li><a href="{{ path('property_switch', {'id': property.id}) }}">{{ property.label }}</a></li>#}
{#        {% endfor %}#}
{#    {% else %}#}
{#        {% for property in app.user.getProperties %}#}
{#            <li><a href="{{ path('property_switch', {'id': property.id}) }}">{{ property.label }}</a></li>#}
{#        {% endfor %}#}
{#    {% endif %}#}
{#</ul>#}