<ul id="nav-user-profile" class="right">
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <li><a class="dropdown-trigger" href="#" data-target="dropdown-user">
                <i class="material-icons left">account_circle</i>
                {{ app.user.firstname }} {{ app.user.lastname }}
                <i class="material-icons right">arrow_drop_down</i>
            </a>
        </li>
    {% else %}
        <li><a href="{{ path('app_login') }}">Login</a></li>
    {% endif %}
</ul>
<ul id="dropdown-user" class="dropdown-content">
    {% if app.user.id is defined %}
        <li><a href="{{ path('profile', {'id': app.user.id('user_id')}) }}">Profil settings</a></li>
    {% endif %}
    <li class="divider"></li>
    <li><a href="{{ path('app_logout') }}">Logout</a></li>
</ul>