{% extends 'base.html.twig' %}

{% block title %}Property configuration{% endblock %}

{% block body %}
    <h3>Property configuration</h3>
    <div class="col s12">
    {% if brand.pmsGetData.label != 'Mock' %}
        <a href="{{ path('update_room_rate') }}" ><button class="btn" style="margin-bottom: 5px">Sync Rooms / Rates</button></a>
    {% else %}{% endif %}
    </div>
    {% if is_granted('ROLE_REVENUE_MANAGER') %}
        <div class="col s6">
        {% if inactive_room_types is not empty %}
            <p><i class="medium material-icons">warning</i><br/>
                Be careful, you still have some rules with inactive room type below, please go to
                <a href="{{ path('revenue_configuration') }}">Revenue Configuration</a> in order to change it:<br/>
                {% for inactive_room_type in inactive_room_types %}<b>{{ inactive_room_type }}<br/></b>{% endfor %}
            </p>
        {% else %}{% endif %}
        </div>
        <div class="col s6">
            {% if inactive_rate_types is not empty %}
                <p><i class="medium material-icons">warning</i><br/>
                    Be careful, you still have some rate rules with inactive rate type below, please go to
                    <a href="{{ path('revenue_configuration') }}">Revenue Configuration</a> in order to change it:<br/>
                    {% for inactive_rate_type in inactive_rate_types %}<b>{{ inactive_rate_type.label }}<br/></b>{% endfor %}
                </p>
            {% else %}{% endif %}
        </div>
    {% endif %}
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s2"><a {% if app.request.session.get('active-tab') is not defined %}class="active"{% endif %} href="#room_type">Room type</a></li>
            <li class="tab col s2"><a {% if app.request.session.get('active-tab') == 'rate_type' %}class="active"{% endif %} href="#rate_type">Rate type</a></li>
            <li class="tab col s2"><a {% if app.request.session.get('active-tab') == 'extra_type' %}class="active"{% endif %} href="#extra_type">Extra type</a></li>
        </ul>
    </div>

    <div id="room_type" class="col s12">
        {% include 'property_configuration/tab/room_type.html.twig' %}
    </div>
    <div id="rate_type" class="col s12">
        {% include 'property_configuration/tab/rate_type.html.twig' %}
    </div>
    <div id="extra_type" class="col s12">
        {% include 'property_configuration/tab/extra_type.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('.tabs').tabs();
        });
    </script>
{% endblock %}
