{% extends 'base.html.twig' %}

{% block title %}Edit ExtraRule{% endblock %}

{% block body %}
    <h1>Edit Extra service rule</h1>

    {{ include('extra_rule/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('revenue_configuration') }}"><button style="margin-bottom: 5px" class="btn">Back to revenue configuration</button></a>

    {{ include('extra_rule/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#extra-rule-btn').click(function(){
            if (!AgeMaxBiggerAgeMin($('#extra_rule_ageMin option:selected').attr('data-min'), $('#extra_rule_ageMax option:selected').attr('data-min'))){
                return false
            }
            if (!dateFromBeforeDateUntil($('#extra_rule_date_start').val(), $('#extra_rule_date_end').val())){
                return false
            }
            if (!maxLengthBiggerMinLength($('#extra_rule_length_min').val(), $('#extra_rule_length_max').val())){
                return false
            }
            if (!maxPaxBiggerMinPax($('#extra_rule_pax_min').val(), $('#extra_rule_pax_max').val())){
                return false
            }
            if (!maxOccBiggerMinOcc($('#extra_rule_occupancy_min').val(), $('#extra_rule_occupancy_max').val())){
                return false
            }
            if (!dateInThePast($('#extra_rule_date_start').val())){
                return false
            }
        })

    </script>
{% endblock %}