<h4>Breakdown rules for remaining rooms</h4>
<p>Create rules to leave a minimum stock of a specific room depending on the remaining rooms</p>
<p>Example: <em>Create a rule to use maximum 60% of the twins left available</em></p>
<a href="{{ path('breakdown_rule_remaining_new') }}"><button class="btn">Create New Breakdown rule to for remaining rooms</button></a>
<h5>Activated Rules</h5>
<table class="table centered striped">
    <thead>
    <tr>
        <th style="width: 15%">Rule name</th>
        <th colspan="2" style="width: 10%">Persons</th>
        <th colspan="2" style="width: 10%">Length of stay</th>
        <th colspan="2" style="width: 10%">Occupancy</th>
        <th colspan="2" style="width: 10%">Age</th>
        <th colspan="3" style="width: 23%">Check in Dates</th>
        <th style="width: 7%">Room</th>
        <th style="width: 7%">Min Percentage left</th>
        <th></th>
    </tr>
    <tr>
        <th></th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th style="width: 9%">days</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for breakdown_rule_remaining in breakdown_rule_remainings|filter(breakdown_rule_remaining => breakdown_rule_remaining.active == true) %}
        <tr>
            <td>{{ breakdown_rule_remaining.label }}</td>
            <td>{{ breakdown_rule_remaining.paxMin }}</td>
            <td>{{ breakdown_rule_remaining.paxMax }}</td>
            <td>{{ breakdown_rule_remaining.lengthMin }}</td>
            <td>{{ breakdown_rule_remaining.lengthMax }}</td>
            <td>{{ breakdown_rule_remaining.occupancyMin }}</td>
            <td>{{ breakdown_rule_remaining.occupancyMax }}</td>
            <td>{% if breakdown_rule_remaining.ageMin is not null %}{{ breakdown_rule_remaining.ageMin.label }}{% endif %}</td>
            <td>{% if breakdown_rule_remaining.ageMax is not null %}{{ breakdown_rule_remaining.ageMax.label }}{% endif %}</td>
            <td>{{ breakdown_rule_remaining.dateStart ? breakdown_rule_remaining.dateStart|date('Y-m-d') : '' }}</td>
            <td>{{ breakdown_rule_remaining.dateEnd ? breakdown_rule_remaining.dateEnd|date('Y-m-d') : '' }}</td>
            <td>
                {% for days in breakdown_rule_remaining.daySelection %}
                    {{ days }}{% if not loop.last %},{% endif %}
                {% else %}
                    -
                {% endfor %}
            </td>
            <td>{{ breakdown_rule_remaining.room.label }}</td>
            <td>{{ breakdown_rule_remaining.percentageLeft }}</td>
            <td>
                <a href="{{ path('breakdown_rule_remaining_edit', {'id': breakdown_rule_remaining.id}) }}"><button class="btn">edit</button></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="15">No active rules</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<h5>Rules not activated</h5>
<table class="table centered striped">
    <thead>
    <tr>
        <th style="width: 15%">Rule name</th>
        <th colspan="2" style="width: 10%">Persons</th>
        <th colspan="2" style="width: 10%">Length of stay</th>
        <th colspan="2" style="width: 10%">Occupancy</th>
        <th colspan="2" style="width: 10%">Age</th>
        <th colspan="3" style="width: 23%">Check in Dates</th>
        <th style="width: 7%">Room</th>
        <th style="width: 7%">Min Percentage left</th>
        <th></th>
    </tr>
    <tr>
        <th></th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th style="width: 9%">days</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for breakdown_rule_remaining in breakdown_rule_remainings|filter(breakdown_rule_remaining => breakdown_rule_remaining.active == false) %}
        <tr>
            <td>{{ breakdown_rule_remaining.label }}</td>
            <td>{{ breakdown_rule_remaining.paxMin }}</td>
            <td>{{ breakdown_rule_remaining.paxMax }}</td>
            <td>{{ breakdown_rule_remaining.lengthMin }}</td>
            <td>{{ breakdown_rule_remaining.lengthMax }}</td>
            <td>{{ breakdown_rule_remaining.occupancyMin }}</td>
            <td>{{ breakdown_rule_remaining.occupancyMax }}</td>
            <td>{% if breakdown_rule_remaining.ageMin is not null %}{{ breakdown_rule_remaining.ageMin.label }}{% endif %}</td>
            <td>{% if breakdown_rule_remaining.ageMax is not null %}{{ breakdown_rule_remaining.ageMax.label }}{% endif %}</td>
            <td>{{ breakdown_rule_remaining.dateStart ? breakdown_rule_remaining.dateStart|date('Y-m-d') : '' }}</td>
            <td>{{ breakdown_rule_remaining.dateEnd ? breakdown_rule_remaining.dateEnd|date('Y-m-d') : '' }}</td>
            <td>
                {% for days in breakdown_rule_remaining.daySelection %}
                    {{ days }}{% if not loop.last %},{% endif %}
                {% else %}
                    -
                {% endfor %}
            </td>
            <td>{{ breakdown_rule_remaining.room.label }}</td>
            <td>{{ breakdown_rule_remaining.percentageLeft }}</td>
            <td>
                <a href="{{ path('breakdown_rule_remaining_edit', {'id': breakdown_rule_remaining.id}) }}"><button class="btn">edit</button></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="15">No inactive rules</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
