<h4>Extra services rules</h4>
<p>Create rules to apply services automatically to the quotes</p>
<p>Example: <em>Add 1 twin free of charges for groups of more than 25 pax</em></p>
<a href="{{ path('extra_rule_new') }}"><button class="btn">Create New Extra Rule</button></a>
<h5>Activated Rules</h5>
<table class="table centered striped">
    <thead>
    <tr>
        <th style="width: 8%">Rule name</th>
        <th colspan="3" style="width: 23%">Extra calculation</th>
        <th colspan="2" style="width: 10%">Persons</th>
        <th colspan="2" style="width: 10%">Length of stay</th>
        <th colspan="2" style="width: 10%">Occupancy</th>
        <th colspan="2" style="width: 10%">Age</th>
        <th colspan="3" style="width: 23%">Check in Dates</th>
        <th></th>
    </tr>
    <tr>
        <th></th>
        <th>Extra</th>
        <th>Consumed date</th>
        <th>Quantity base</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th style="width: 9%">days</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for extra_rule in extra_rules|filter(extra_rule => extra_rule.active == true) %}
        <tr>
            <td>{{ extra_rule.label }}</td>
            <td>{{ extra_rule.extra.label }}</td>
            <td>{{ extra_rule.consumed }}</td>
            <td>{{ extra_rule.division }}</td>
            <td>{{ extra_rule.paxMin }}</td>
            <td>{{ extra_rule.paxMax }}</td>
            <td>{{ extra_rule.lengthMin }}</td>
            <td>{{ extra_rule.lengthMax }}</td>
            <td>{{ extra_rule.occupancyMin }}</td>
            <td>{{ extra_rule.occupancyMax }}</td>
            <td>{% if extra_rule.ageMin is not null %}{{ extra_rule.ageMin.label }}{% endif %}</td>
            <td>{% if extra_rule.ageMax is not null %}{{ extra_rule.ageMax.label }}{% endif %}</td>
            <td>{{ extra_rule.dateStart ? extra_rule.dateStart|date('Y-m-d') : '' }}</td>
            <td>{{ extra_rule.dateEnd ? extra_rule.dateEnd|date('Y-m-d') : '' }}</td>
            <td>
                {% for days in extra_rule.daySelection %}
                    {{ days }}{% if not loop.last %},{% endif %}
                {% else %}
                    -
                {% endfor %}
            </td>
            <td>
                <a href="{{ path('extra_rule_edit', {'id': extra_rule.id}) }}"><button class="btn">edit</button></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="16">No active rules</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<h5>Rules not activated</h5>
<table class="table centered striped">
    <thead>
    <tr>
        <th style="width: 8%">Rule name</th>
        <th colspan="3" style="width: 23%">Extra calculation</th>
        <th colspan="2" style="width: 10%">Persons</th>
        <th colspan="2" style="width: 10%">Length of stay</th>
        <th colspan="2" style="width: 10%">Occupancy</th>
        <th colspan="2" style="width: 10%">Age</th>
        <th colspan="3" style="width: 23%">Check in Dates</th>
        <th></th>
    </tr>
    <tr>
        <th></th>
        <th>Extra</th>
        <th>Consumed date</th>
        <th>Quantity base</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th style="width: 9%">days</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for extra_rule in extra_rules|filter(extra_rule => extra_rule.active == false) %}
        <tr>
            <td>{{ extra_rule.label }}</td>
            <td>{{ extra_rule.extra.label }}</td>
            <td>{{ extra_rule.consumed }}</td>
            <td>{{ extra_rule.division }}</td>
            <td>{{ extra_rule.paxMin }}</td>
            <td>{{ extra_rule.paxMax }}</td>
            <td>{{ extra_rule.lengthMin }}</td>
            <td>{{ extra_rule.lengthMax }}</td>
            <td>{{ extra_rule.occupancyMin }}</td>
            <td>{{ extra_rule.occupancyMax }}</td>
            <td>{% if extra_rule.ageMin is not null %}{{ extra_rule.ageMin.label }}{% endif %}</td>
            <td>{% if extra_rule.ageMax is not null %}{{ extra_rule.ageMax.label }}{% endif %}</td>
            <td>{{ extra_rule.dateStart ? extra_rule.dateStart|date('Y-m-d') : '' }}</td>
            <td>{{ extra_rule.dateEnd ? extra_rule.dateEnd|date('Y-m-d') : '' }}</td>
            <td>
                {% for days in extra_rule.daySelection %}
                    {{ days }}{% if not loop.last %},{% endif %}
                {% else %}
                    -
                {% endfor %}
            </td>
            <td>
                <a href="{{ path('extra_rule_edit', {'id': extra_rule.id}) }}"><button class="btn">edit</button></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="16">No inactive rules</td>
        </tr>
    {% endfor %}
    </tbody>
</table>