<h4>Filters</h4>
<p>Apply filters to specify when the enquiry will be automatically quoted (when the filters are not valid you will receive an email)</p>
<p>Example: <em>Create a filter to quote automatically the groups between 10 persons and 50 persons</em></p>
<p>* If the new request matches with at least one filter it will be quoted automatically</p>
<a href="{{ path('filter_new') }}"><button class="btn">Create New Filter</button></a>
<h5>Activated Rules</h5>
<table class="table striped centered">
    <thead>
    <tr>
        <th style="width: 15%">Filter name</th>
        <th colspan="2" style="width: 12%">Persons</th>
        <th colspan="2" style="width: 12%">Length of Stay</th>
        <th colspan="2" style="width: 12%">Occupancy</th>
        <th colspan="2" style="width: 16%">Age</th>
        <th colspan="3" style="width: 24%">Check in Date</th>
        <th></th>
    </tr>
    <tr>
        <th></th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th style="width: 10%">days</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for filter in filters|filter(filter => filter.active == true) %}
        <tr>
            <td>{{ filter.label }}</td>
            <td>{{ filter.paxMin }}</td>
            <td>{{ filter.paxMax }}</td>
            <td>{{ filter.nightMin }}</td>
            <td>{{ filter.nightMax }}</td>
            <td>{{ filter.occupancyMin }}</td>
            <td>{{ filter.occupancyMax }}</td>
            <td>{% if filter.ageMin is not null %}{{ filter.ageMin.label }}{% endif %}</td>
            <td>{% if filter.ageMax is not null %}{{ filter.ageMax.label }}{% endif %}</td>
            <td>{{ filter.dateMin ? filter.dateMin|date('Y-m-d') : '' }}</td>
            <td>{{ filter.dateMax ? filter.dateMax|date('Y-m-d') : '' }}</td>
            <td>
                {% for days in filter.daySelection %}
                    {{ days }}{% if not loop.last %},{% endif %}
                {% else %}
                    -
                {% endfor %}
            </td>
            <td>
                <a href="{{ path('filter_edit', {'id': filter.id}) }}"><button style="margin-bottom: 5px" class="btn">edit</button></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="13">No active rules</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<h5>Rules not activated</h5>
<table class="table striped centered">
    <thead>
    <tr>
        <th style="width: 15%">Filter name</th>
        <th colspan="2" style="width: 12%">Persons</th>
        <th colspan="2" style="width: 12%">Length of Stay</th>
        <th colspan="2" style="width: 12%">Occupancy</th>
        <th colspan="2" style="width: 16%">Age</th>
        <th colspan="3" style="width: 24%">Check in Date</th>
        <th></th>
    </tr>
    <tr>
        <th></th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th style="width: 10%">days</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for filter in filters|filter(filter => filter.active == false) %}
        <tr>
            <td>{{ filter.label }}</td>
            <td>{{ filter.paxMin }}</td>
            <td>{{ filter.paxMax }}</td>
            <td>{{ filter.nightMin }}</td>
            <td>{{ filter.nightMax }}</td>
            <td>{{ filter.occupancyMin }}</td>
            <td>{{ filter.occupancyMax }}</td>
            <td>{% if filter.ageMin is not null %}{{ filter.ageMin.label }}{% endif %}</td>
            <td>{% if filter.ageMax is not null %}{{ filter.ageMax.label }}{% endif %}</td>
            <td>{{ filter.dateMin ? filter.dateMin|date('Y-m-d') : '' }}</td>
            <td>{{ filter.dateMax ? filter.dateMax|date('Y-m-d') : '' }}</td>
            <td>
                {% for days in filter.daySelection %}
                    {{ days }}{% if not loop.last %},{% endif %}
                {% else %}
                    -
                {% endfor %}
            </td>
            <td>
                <a href="{{ path('filter_edit', {'id': filter.id}) }}"><button style="margin-bottom: 5px" class="btn">edit</button></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="13">No inactive rules</td>
        </tr>
    {% endfor %}
    </tbody>
</table>