<h4>Rate rules</h4>
<p>Create rules with the rate code to apply the perfect price to each quote.</p>
<p>Example: <em>Use rate code GRA1 for July for groups between 10 and 50 persons.</em></p>
<p>*IMPORTANT: You cannot create a rule for the same dates with the same priority. // The default rate rule will apply only if no other rules exist for the same dates.</p>
<a href="{{ path('rate_rule_new') }}"><button class="btn">Create new rate rule</button></a>
<h5>Activated Rules</h5>
<table class="table centered striped">
    <thead>
    <tr>
        <th style="width: 7%">Priority</th>
        <th style="width: 10%">Rate type</th>
        <th colspan="2" style="width: 10%">Persons</th>
        <th colspan="2" style="width: 10%">Length of stay</th>
        <th colspan="2" style="width: 10%">Occupancy</th>
        <th colspan="2" style="width: 10%">Age</th>
        <th colspan="3" style="width: 25%">Dates</th>
        <th colspan="2" style="width: 10%">Rate calculation</th>
        <th></th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th style="width: 9%">days</th>
        <th>Percentage</th>
        <th>Fix</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for rate_rule in rate_rules|filter(rate_rule => rate_rule.active == true) %}
        <tr>
            <td>
                {% if rate_rule.priority == 4 %}
                    Default rate
                {% else %}
                    {{ rate_rule.priority }}
                {% endif %}
            </td>
            <td>{{ rate_rule.rateType.label }}</td>
            <td>{{ rate_rule.paxMin ? rate_rule.paxMin : '-' }}</td>
            <td>{{ rate_rule.paxMax ? rate_rule.paxMax : '-' }}</td>
            <td>{{ rate_rule.lengthMin ? rate_rule.lengthMin : '-' }}</td>
            <td>{{ rate_rule.lengthMax ? rate_rule.lengthMax : '-' }}</td>
            <td>{{ rate_rule.occupancyMin }}</td>
            <td>{{ rate_rule.occupancyMax }}</td>
            <td>{% if rate_rule.ageMin is not null %}{{ rate_rule.ageMin.label }}{% endif %}</td>
            <td>{% if rate_rule.ageMax is not null %}{{ rate_rule.ageMax.label }}{% endif %}</td>
            <td>{{ rate_rule.dateStart ? rate_rule.dateStart|date('Y-m-d') : '-' }}</td>
            <td>{{ rate_rule.dateEnd ? rate_rule.dateEnd|date('Y-m-d') : '-' }}</td>
            <td>
                {% for days in rate_rule.daySelection %}
                    {{ days }}{% if not loop.last %},{% endif %}
                {% else %}
                    -
                {% endfor %}
            </td>
            <td>{% if rate_rule.baseRateVariable is not null %}{{ rate_rule.baseRateVariable }}%{% endif %}</td>
            <td>{{ rate_rule.baseRateFix }}</td>
            <td>
                <a href="{{ path('rate_rule_edit', {'id': rate_rule.id}) }}"><button class="btn">edit</button></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="16">No active rules</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<h5>Rules not activated</h5>
<table class="table centered striped">
    <thead>
    <tr>
        <th style="width: 7%">Priority</th>
        <th style="width: 10%">Rate type</th>
        <th colspan="2" style="width: 10%">Persons</th>
        <th colspan="2" style="width: 10%">Length of stay</th>
        <th colspan="2" style="width: 10%">Occupancy</th>
        <th colspan="2" style="width: 10%">Age</th>
        <th colspan="3" style="width: 25%">Dates</th>
        <th colspan="2" style="width: 10%">Rate calculation</th>
        <th></th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th style="width: 9%">days</th>
        <th>Percentage</th>
        <th>Fix</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for rate_rule in rate_rules|filter(rate_rule => rate_rule.active == false) %}
        <tr>
            <td>
                {% if rate_rule.priority == 4 %}
                    Default rate
                {% else %}
                    {{ rate_rule.priority }}
                {% endif %}
            </td>
            <td>{{ rate_rule.rateType.label }}</td>
            <td>{{ rate_rule.paxMin ? rate_rule.paxMin : '-' }}</td>
            <td>{{ rate_rule.paxMax ? rate_rule.paxMax : '-' }}</td>
            <td>{{ rate_rule.lengthMin ? rate_rule.lengthMin : '-' }}</td>
            <td>{{ rate_rule.lengthMax ? rate_rule.lengthMax : '-' }}</td>
            <td>{{ rate_rule.occupancyMin }}</td>
            <td>{{ rate_rule.occupancyMax }}</td>
            <td>{% if rate_rule.ageMin is not null %}{{ rate_rule.ageMin.label }}{% endif %}</td>
            <td>{% if rate_rule.ageMax is not null %}{{ rate_rule.ageMax.label }}{% endif %}</td>
            <td>{{ rate_rule.dateStart ? rate_rule.dateStart|date('Y-m-d') : '-' }}</td>
            <td>{{ rate_rule.dateEnd ? rate_rule.dateEnd|date('Y-m-d') : '-' }}</td>
            <td>
                {% for days in rate_rule.daySelection %}
                    {{ days }}{% if not loop.last %},{% endif %}
                {% else %}
                    -
                {% endfor %}
            </td>
            <td>{% if rate_rule.baseRateVariable is not null %}{{ rate_rule.baseRateVariable }}%{% endif %}</td>
            <td>{{ rate_rule.baseRateFix }}</td>
            <td>
                <a href="{{ path('rate_rule_edit', {'id': rate_rule.id}) }}"><button class="btn">edit</button></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="16">No inactive rules</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
