{% extends 'base.html.twig' %}

{% block title %}Brands{% endblock %}

{% block body %}
    <h1>Brand index</h1>
    <div class="row">
    {{ form_start(form) }}
    <div class="col s4">
        <div class="col s9">
        {{ form_row(form.label) }}
        {{ form_row(form.comment) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
        </div>
    </div>
    <div class="col s4">
        <div class="col s9">
        {{ form_row(form.pmsGetData) }}
        {{ form_row(form.apiKeyGetData) }}
        </div>
    </div>
    <div class="col s4">
        <div class="col s9">
        {{ form_row(form.pmsPostData) }}
        {{ form_row(form.apiKeyPostData) }}
        </div>
    </div>
    {{ form_end(form) }}
    </div>
    <div class="row">
        <div class="col s6">
            <h4>Property list</h4>
            <table>
            {% for property in brand.properties %}
                <tr>
                    <td>{{ property.id }}</td>
                    <td>{{ property.label }}</td>
                    <td><a href="{{ path('godboard_property_edit', {id: property.id}) }}">edit</a></td>
                </tr>
            {% else %}
                <tr>
                    <td>No property yet</td>
                </tr>
            {% endfor %}
                <tr>
                    <td>
                        <a class="btn" href="{{ path('godboard_property_new', {id: brand.id}) }}">add new</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col s6">
            <h4>Current Admin list</h4>
            <table>
            {% for admin in admins|filter(admin => admin.activated == true) %}
                <tr>
                    <td>{{ admin.username }}</td>
                    <td>{{ admin.firstname }}</td>
                    <td>{{ admin.lastname }}</td>
                </tr>
            {% else %}
                <tr>
                    <td>No admin activated</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
    <a href="{{ path('godboard_brand_index') }}"><button class="btn" style="margin-top: 30px">Back to the brand list</button></a>
{% endblock %}