{% extends 'base.html.twig' %}

{% block title %}Brands{% endblock %}

{% block body %}
    <h1>Manage brands</h1>
    <a href="{{ path('godboard_brand_new') }}">Create new (based on Willow brand)</a>
    <table class="table centered striped">
        <thead>
        <tr>
            <th>creation date</th>
            <th>id</th>
            <th>label</th>
            <th>property number</th>
            <th>user number</th>
            <th>comments</th>
            <th>see</th>
        </tr>
        </thead>
        <tbody>
        {% for brand in brands %}
            <tr>
                <td>{{ brand.creationDate|date('d/m/Y') }}</td>
                <td>{{ brand.id }}</td>
                <td>{{ brand.label }}</td>
                <td>{% if propertyNumber[loop.index] is defined %}{{ propertyNumber[loop.index].property_number }}{% else %}-{% endif %}</td>
                <td>{% if userNumber[loop.index] is defined %}{{ userNumber[loop.index].user_number }}{% else %}-{% endif %}</td>
                <td>{{ brand.comment }}</td>
                <td>
                    <a href="{{ path('godboard_brand_switch', {'id': brand.id}) }}">enter</a>
                </td>
                <td>
                    <a href="{{ path('godboard_brand_edit', {'id': brand.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}