{% extends 'base.html.twig' %}

{% block title %}Companies index{% endblock %}

{% block body %}
    <h1>Companies</h1>
    {% if brand.pmsGetData.label != 'Mock' %}
    <a href="{{ path('update_companies', {'id': brand.id}) }}"><button class="btn">Synchronize all companies</button></a>
    {% endif %}
    <a href="{{ path('company_brand_new') }}"><button class="btn">New</button></a>
    <h3>Active</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Label</th>
                <th>Sales Manager in Charge</th>
                <th>Additional Information</th>
                <th>Default</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies|filter(company => company.activated == true) %}
            <tr>
                <td>{{ company.label }}</td>
                <td>
                {% if company.user.firstname is defined %}
                    {{ company.user.firstname }} {{ company.user.lastname }}
                {% endif %}
                </td>
                <td>{{ company.additionalInfo }}</td>
                <td>
                    {% if company.defaultSelection == true %}
                        Yes
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('company_brand_edit', {'id': company.id}) }}"><button class="btn">edit</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h4>Old companies that cannot be used anymore</h4>
    <table class="table">
        <thead>
        <tr>
            <th>Label</th>
            <th>Sales Manager in Charge</th>
        </tr>
        </thead>
        <tbody>
        {% for company in companies|filter(company => company.activated == false) %}
            <tr>
                <td>{{ company.label }}</td>
                <td>
                    {% if company.user.firstname is defined %}
                        {{ company.user.firstname }} {{ company.user.lastname }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
