<ul class="extra-list" data-prototype="{{ form_widget(offerForm.offerExtras.vars.prototype)|e('html_attr') }}">
    {% for extra in offerForm.offerExtras %}
        <li data-index="{{ loop.index0 }}">
            <div class="row extra">
                {{ form_row(extra.extra) }}
                {{ form_row(extra.quantity) }}
                {{ form_row(extra.startDate) }}
                {{ form_row(extra.endDate) }}
                {{ form_row(extra.price) }}
            </div>
        </li>
    {% endfor %}
</ul>
<button type="button" id="add_item_extra" class="btn add_item_link" data-class-list="extra-list" data-form-type="extra">Add an extra</button>
<button class="btn" id="update_extra_btn">{{ button_label|default('Save') }}</button>