<h5>Active Rate types</h5>
<ul>
    {% for rate_type in rate_types|filter(rate_type => rate_type.activated == true) %}
        <li style="font-size: 20px">{{ rate_type.label }}</li>
    {% endfor %}
</ul>
<hr>
<h6>Old rate types that can no longer be used</h6>
<ul>
    {% for rate_type in rate_types|filter(rate_type => rate_type.activated == false) %}
        <li>{{ rate_type.label }}</li>
    {% endfor %}
</ul>