<form method="post" action="{{ path('property_management_system_delete', {'id': property_management_system.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property_management_system.id) }}">
    <button class="btn">Delete</button>
</form>
