{% extends 'base.html.twig' %}

{% block title %}PropertyManagementSystem index{% endblock %}

{% block body %}
    <h1>Manage the PMS</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Label</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for property_management_system in property_management_systems %}
            <tr>
                <td>{{ property_management_system.label }}</td>
                <td>
                    <a href="{{ path('property_management_system_edit', {'id': property_management_system.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('property_management_system_new') }}"><button class="btn">Create new</button></a>
{% endblock %}
