<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="{{ asset('css/materialize.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet"/>
    <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body>

{% include 'include/navbar.html.twig' %}
{% include 'include/messagebar.html.twig' %}

<div class="row">
    {% include 'include/sidenav.html.twig' %}
<div class="container">
    {% block body %}{% endblock %}
</div>

</div>
<script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/chart.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/dashboardCharts.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/rulesConfig.js') }}"></script>
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });

        $(document).ready(function(){
            $('.collapsible').collapsible();
        });

        $(document).ready(function(){
            $('.tabs').tabs();
        });
        $(document).ready(function(){
            $('.modal').modal();
        });

        $('#autocomplete-input').keyup(function(){
            if ($(this).val() === '') {
                $('#search-content .collection').html('').hide();

                return false;
            }
            $.ajax({
                type: "GET",
                url: location.origin + "/search/"+$(this).val(),
            }).done(function(data) {
                $('#search-content .collection').html('').hide();
                data.forEach((item, index) => {
                    $('#search-content .collection').append('<a href="'+location.origin + "/enquiry/"+item.id+'" class="collection-item">'+item.reservationNumber+' - '+item.group_name+'</a>').show();
                })
            })
        });

        function dateDiff(first, second) {
            return Math.round((second-first)/(1000*60*60*24));

        }

        $(".dropdown-trigger").dropdown();
        $('select').formSelect();
    </script>
{% endblock %}
</body>
</html>
