{% extends 'base.html.twig' %}

{% block title %}Request form{% endblock %}

{% block body %}
    <h3>Fill the form to send your request</h3>
    <div class="col s6">
        <h5>General info</h5>
        {{ form_row(enquiryForm.check_in_date) }}
        {{ form_row(enquiryForm.check_out_date) }}
        {{ form_row(enquiryForm.number_of_persons) }}
        {{ form_row(enquiryForm.age) }}
        {{ form_row(enquiryForm.client_comment) }}
    </div>
    <div class="col s6">
        <h5>Profil info</h5>
        {{ form_row(enquiryForm.email_address) }}
        {{ form_row(enquiryForm.groupe_name) }}
        {{ form_row(enquiryForm.agency_name) }}
        {{ form_row(enquiryForm.contact_first_name) }}
        {{ form_row(enquiryForm.contact_last_name) }}
        {{ form_row(enquiryForm.phone_number) }}
        {{ form_row(enquiryForm.property) }}
    </div>
    <button class="btn" id="validate-btn">{{ button_label|default('Create') }}</button>
    {{ form_end(enquiryForm) }}
{% endblock %}
