{{ form_start(form) }}
    {% if rate_rule.defaultSelection == 0 %}
        {{ form_label(form.active) }}
        <div class="switch">
            <label>
                No
                {{ form_widget(form.active) }}
                <span class="lever"></span>
                Yes
            </label>
        </div>
    {% endif %}
    {{ form_widget(form) }}
    <button style="margin-bottom: 5px" class="btn" id="rate-rule-btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
