{% extends 'base.html.twig' %}

{% block title %}Preferences{% endblock %}

{% block body %}
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s2"><a {% if app.request.session.get('active-tab-preference') is not defined %}class="active"{% endif %} href="#property_preferences">Property preferences</a></li>
            <li class="tab col s2"><a {% if app.request.session.get('active-tab-preference') == 'conditions' %}class="active"{% endif %} href="#conditions">Terms and Conditions</a></li>
            <li class="tab col s2"><a {% if app.request.session.get('active-tab-preference') == 'presentation' %}class="active"{% endif %} href="#presentation">Presentation and Features</a></li>
            <li class="tab col s2"><a {% if app.request.session.get('active-tab-preference') == 'template_proposal' %}class="active"{% endif %} href="#template_proposal">Proposal templates</a></li>
            <li class="tab col s2"><a {% if app.request.session.get('active-tab-preference') == 'mail_template' %}class="active"{% endif %} href="#mail_template">Mail templates</a></li>
        </ul>
    </div>

    <div id="property_preferences" class="col s12">
        {% include 'preference/tab/property_preferences.html.twig' %}
    </div>
    <div id="conditions" class="col s12">
        {% include 'preference/tab/conditions.html.twig' %}
    </div>
    <div id="presentation" class="col s12">
        {% include 'preference/tab/hotel_presentation.html.twig' %}
    </div>
    <div id="template_proposal" class="col s12">
        {% include 'preference/tab/template_proposal.html.twig' %}
    </div>
    <div id="mail_template" class="col s12">
        {% include 'preference/tab/mail_template.html.twig' %}
    </div>
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            $(document).ready(function () {
                $('.tabs').tabs();
            });
        </script>
    {% endblock %}