{{ form_start(form) }}

    {% if enquiry is defined %}
        {{ form_widget(form, {'action': path('enquiry_show', {'id': enquiry.id}), 'method': 'POST'}) }}
    {% else %}
        {{ form_widget(form, {'action': path('enquiry_show', {'id': follow_up.enquiry.id}), 'method': 'POST'}) }}
    {% endif %}
    <button class="btn" id="followup-btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
