{% extends 'base.html.twig' %}

{% block title %}Edit FollowUp{% endblock %}

{% block body %}
    <h1>Edit FollowUp</h1>

    {{ include('follow_up/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#followup-btn').click(function(){
            var date_followup = new Date($('#follow_up_provide_date').val());
            var today = new Date();
            if (date_followup < today) {
                if(!confirm('You selected a follow up date in the past, do you want to go ahead?')){
                    return false;
                }
            }
        })
    </script>
{% endblock %}