{% extends 'base.html.twig' %}

{% block title %}Password update{% endblock %}

{% block body %}
    <h1>Update your password</h1>
    <ul>Your password must have:
        <li>Minimum 8 characters</li>
        <li>At least one uppercase letter</li>
        <li>At least one lowercase letter</li>
        <li>At least one number</li>
        <li>At least one special character @$!%*?&'</li>
    </ul>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}