{% extends 'base.html.twig' %}

{% block title %}New Property{% endblock %}

{% block body %}
    <h1>Edit property</h1>

    {{ include('godboard/property/_form.html.twig') }}

    <a href="{{ path('godboard_brand_edit', {id : property.brand.id}) }}"><button class="btn">back to brand</button></a>
{% endblock %}