{% extends 'base.html.twig' %}

{% block title %}New Property{% endblock %}

{% block body %}
    <h1>Create new property for {{ brand.label }}</h1>

    {{ include('godboard/property/_form.html.twig') }}

{% endblock %}