{% extends 'base.html.twig' %}

{% block title %}Reports{% endblock %}

{% block body %}
    <h4 style="text-align: center">Reports</h4>

    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s2"><a {% if app.request.session.get('active-tab') is not defined %}class="active"{% endif %} href="#summary">Summary</a></li>
            <li class="tab col s2"><a {% if app.request.session.get('active-tab') == 'enq_report' %}class="active"{% endif %} href="#enq_report">Enquiry report by property</a></li>
            <li class="tab col s2"><a {% if app.request.session.get('active-tab') == 'sales_report' %}class="active"{% endif %} href="#sales_report">Sales report by company</a></li>
        </ul>
    </div>

    <div id="summary" class="col s12">
        {% include 'report/tab/summary.html.twig' %}
    </div>
    <div id="enq_report" class="col s12">
        {% include 'report/tab/enquiry_by_property.html.twig' %}
    </div>
    <div id="sales_report" class="col s12">
        {% include 'report/tab/sales_by_company.html.twig' %}
    </div>
    <div id="properties" class="properties" data-properties="{{ confirmedEnquiries.properties|json_encode() }}"></div>
    <div id="confirmed-last-month" class="confirmed-last-month" data-confirmed-last-month="{{ confirmedEnquiries.lastMonthRate|json_encode() }}"></div>
    <div id="confirmed-last-year" class="confirmed-last-year" data-confirmed-last-year="{{ confirmedEnquiries.lastYearRate|json_encode() }}"></div>
    <div id="cancelled-last-month" class="cancelled-last-month" data-cancelled-last-month="{{ cancelledEnquiries.lastMonthRate|json_encode() }}"></div>
    <div id="cancelled-last-year" class="cancelled-last-year" data-cancelled-last-year="{{ cancelledEnquiries.lastYearRate|json_encode() }}"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        barBiggestEnquiries(document.getElementById('confLastMonth'), $('.properties').data('properties'),
            $('.confirmed-last-month').data('confirmedLastMonth'));
        barBiggestEnquiries(document.getElementById('confLastYear'), $('.properties').data('properties'),
            $('.confirmed-last-year').data('confirmedLastYear'));
        barBiggestEnquiries(document.getElementById('cancelledLastMonth'), $('.properties').data('properties'),
            $('.cancelled-last-month').data('cancelledLastMonth'));
        barBiggestEnquiries(document.getElementById('cancelledLastYear'), $('.properties').data('properties'),
            $('.cancelled-last-year').data('cancelledLastYear'));
    </script>
{% endblock %}
